#hello {
    display: flex;
    position: absolute; 
    top: 60px;            
    left: 0;           
    width: auto;       
    height: auto;      
    padding: 30px;
    align-items: center;
}

#about_me {
    position: relative;
    line-height: 1.4;
    margin-bottom: 10px; 
    margin-right: 400px;
    bottom: -20px;
  }

#picture {
    position: absolute; 
    top: 60px;            
    right: 0;           
    width: 250px;       
    height: 300px;      
    padding: 0;        
    border-radius: 87%; 
    overflow: hidden; 
    margin-right: 10px; 
}

#social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
    width: 100%; 
    position: absolute;
    left: -262px;
    top: 350px;
}

#social-icons a {
    color: black;
    text-decoration: none;
    margin: 0 17px; 
    font-size: 20px; 
}

#social-icons a:hover {
    color: #007bff; 
}